---
import resume from '../data/resume.json';
import ExperienceRow from './ExperienceRow.astro';

const { experiences } = resume;
---

<section
	id="experience"
	class="min-h-screen flex flex-col p-12 border border-[#dee2e6]"
>
	<div class="my-auto mx-0">
		<h2 class="mb-12">Experience</h2>

		<div class="space-y-12">
			{
				experiences.map((experience) => (
					<ExperienceRow experience={experience} />
				))
			}
		</div>
	</div>
</section>
