---
import Avatar from './Avatar.astro';
---

<nav
	class="flex flex-col items-center justify-center w-[17rem] h-screen bg-[#594157]"
>
	<a href="#about" class="p-4 cursor-pointer">
		<Avatar />
	</a>

	<ul class="flex flex-col w-[85%] list-none text-center">
		<li>
			<a
				href="#about"
				class="block uppercase leading-6 font-semibold px-2 py-4 text-[rgba(255,255,255,0.5)] hover:text-[rgba(255,255,255,0.75)] active:text-white"
				>About</a
			>
		</li>

		<li>
			<a
				href="#projects"
				class="block uppercase leading-6 font-semibold px-2 py-4 text-[rgba(255,255,255,0.5)] hover:text-[rgba(255,255,255,0.75)] active:text-white"
				>Projects</a
			>
		</li>

		<li>
			<a
				href="#experience"
				class="block uppercase leading-6 font-semibold px-2 py-4 text-[rgba(255,255,255,0.5)] hover:text-[rgba(255,255,255,0.75)] active:text-white"
				>Experience</a
			>
		</li>

		<li>
			<a
				href="#skills"
				class="block uppercase leading-6 font-semibold px-2 py-4 text-[rgba(255,255,255,0.5)] hover:text-[rgba(255,255,255,0.75)] active:text-white"
				>Skills</a
			>
		</li>

		<li>
			<a
				href="#education"
				class="block uppercase leading-6 font-semibold px-2 py-4 text-[rgba(255,255,255,0.5)] hover:text-[rgba(255,255,255,0.75)] active:text-white"
				>Education</a
			>
		</li>

		<li>
			<a
				href="#leadership"
				class="block uppercase leading-6 font-semibold px-2 py-4 text-[rgba(255,255,255,0.5)] hover:text-[rgba(255,255,255,0.75)] active:text-white"
				>Leadership</a
			>
		</li>

		<li>
			<a
				href="#contact"
				class="block uppercase leading-6 font-semibold px-2 py-4 text-[rgba(255,255,255,0.5)] hover:text-[rgba(255,255,255,0.75)] active:text-white"
				>Contact</a
			>
		</li>
	</ul>
</nav>
