---
import About from './About.astro';
import Experience from './Experience.astro';
---

<main
	class="overflow-y-auto min-h-screen ml-auto"
	style="width: calc(100vw - 17rem);"
>
	<About />
	<Experience />
</main>
