---
import About from './About.astro';
import Education from './Education.astro';
import Experience from './Experience.astro';
import Skills from './Skills.astro';
---

<main
	class="overflow-y-auto min-h-screen ml-auto"
	style="width: calc(100vw - 17rem);"
>
	<About />
	<Experience />
	<Skills />
	<Education />
</main>
