---
import SectionLayout from './SectionLayout.astro';
---

<SectionLayout title="Skills">
	<!-- Programming Languages -->
	<article class="mb-10">
		<h3
			class="uppercase font-medium text-[1.35rem] text-gray-600 mb-6"
			style="font-family: Saira Extra Condensed, serif"
		>
			Programming Languages
		</h3>

		<ul class="pl-0 mb-4 list-none text-5xl flex flex-row gap-6">
			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="JavaScript"
					class="devicon-javascript-plain"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="TypeScript"
					class="devicon-typescript-plain"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="HTML5"
					class="devicon-html5-plain"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i data-for="skills-tooltip" data-tip="CSS3" class="devicon-css3-plain"
				></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="Python"
					class="devicon-python-plain"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i data-for="skills-tooltip" data-tip="Java" class="devicon-java-plain"
				></i>
			</li>
		</ul>
	</article>

	<!-- Tools & Frameworks -->
	<article class="mb-10">
		<h3
			class="uppercase font-medium text-[1.35rem] text-gray-600 mb-6"
			style="font-family: Saira Extra Condensed, serif"
		>
			Tools & Frameworks
		</h3>

		<ul class="pl-0 mb-4 list-none text-5xl flex flex-row gap-6">
			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="Git"
					class="devicon-git-plain-wordmark"></i>
			</li>
			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="React"
					class="devicon-react-plain"></i>
			</li>
			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="Next.js"
					class="devicon-nextjs-original"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="PostgreSQL"
					class="devicon-postgresql-plain"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="Node"
					class="devicon-nodejs-plain-wordmark"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="Express"
					class="devicon-express-original-wordmark"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="GraphQL"
					class="devicon-graphql-plain-wordmark"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="Docker"
					class="devicon-docker-plain"></i>
			</li>

			<li class="inline-block hover:text-[#594157] text-gray-400">
				<i
					data-for="skills-tooltip"
					data-tip="Sass"
					class="devicon-sass-original"></i>
			</li>
		</ul>
	</article>

	<!-- Workflow -->
	<article class="text-gray-400">
		<h3
			class="uppercase font-medium text-[1.35rem] text-gray-600 mb-6"
			style="font-family: Saira Extra Condensed, serif"
		>
			Workflow
		</h3>

		<ul class="list-disc pl-6">
			<li>Web Infrastracture Development</li>
			<li>Worked on projects with Billions of users</li>
			<li>Responsive Web Development</li>
			<li>Cross Browser Testing &amp; Debugging</li>
			<li>Cross Functional Teams</li>
			<li>Agile Development &amp; Scrum</li>
			<li>Integration testing, Unit testing &amp; Quality Assurance</li>
		</ul>
	</article>
</SectionLayout>
