---
import SectionLayout from './SectionLayout.astro';
---

<SectionLayout title="Contact Me" slug="contact">
	<h3 class="mb-8">
		If you have any questions or would like to get in touch, please feel free to
		reach out to me on any of the following platforms 😀
	</h3>

	<ul class="text-gray-600 space-y-4">
		<li>
			Email: <a href="mailto:abdirahman.haji.13@gmail.com"
				>abdirahman.haji.13@gmail.com</a
			>
		</li>

		<li>
			Twitter: <a href="https://twitter.com/abdihashii" target="_blank"
				>@abdihashii</a
			>
		</li>

		<li>
			LinkedIn: <a
				href="https://www.linkedin.com/in/abdirahman-haji/"
				target="_blank">Abdirahman Haji</a
			>
		</li>

		<li>
			GitHub: <a href="https://github.com/abdihashii" target="_blank"
				>@abdihashii</a
			>
		</li>
	</ul>
</SectionLayout>
