.resume-wrapper {
  border-top: 15px solid black;
  border-bottom: 15px solid black;

  padding: 44px 30px 30px;

  .resume-grid {
    margin: 0 auto;

    width: 960px;
    height: 100%;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 160px max-content;

    grid-column-gap: 50px;
    grid-row-gap: 32px;

    grid-template-areas:
      'title      avatar'
      'experience skills';
  }
}
