.list-inline {
  padding-left: 0;
  margin-bottom: 1rem;
  list-style: none;

  .list-inline-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    i:hover {
      color: #594157;
    }
  }
}

.list-icons {
  font-size: 3rem;
}
