---
import { Image } from 'astro:assets';
import hajiYosemite from '../../images/haji_yosemite.png';
---

<div
	class="w-40 h-40 rounded-full overflow-hidden border-[0.5rem] border-[rgba(255,255,255,0.2)] flex justify-center items-center"
>
	<Image
		src={hajiYosemite}
		alt="Abdirahman Haji"
		width={320}
		height={320}
		class="object-cover object-center"
	/>
</div>
